<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <form [formGroup]="addBookMarkForm" >
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" />
        <mat-error *ngIf="title.hasError('required')">*title is required!</mat-error>
        <mat-error *ngIf="title.hasError('maxlength')">*title max length exceeded!</mat-error>
     
      </mat-form-field>
      <mat-form-field  appearance="outline" style="width: 100%;">
        <mat-label>Url</mat-label>
        <input matInput placeholder="Url" formControlName="url" />
        <mat-error *ngIf="url.hasError('required')">*url is required!</mat-error>
        <mat-error *ngIf="url.hasError('pattern')">*invalid url!</mat-error>
      </mat-form-field>
      <section>
        <mat-form-field  appearance="outline" style="width: 100%;">
          <mat-label>Category</mat-label>
          <mat-select placeholder="Category" formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.title }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="category.hasError('required')"></mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="onAddCategoryClick($event)">
          <mat-icon>add</mat-icon>
        </button>
      </section>
      <mat-form-field  appearance="outline" style="width: 100%;" *ngIf="showNewCategoryField">
        <mat-label>New Category Name</mat-label>
        <input matInput placeholder="Url" formControlName="newCategoryName" />
      </mat-form-field>
    </form>
  </div>
  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary" [disabled]="addBookMarkForm.invalid||addBookMarkForm.pristine" (click)="submit()">Save</button>
</mat-dialog-actions>
