/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background-color: #f1f5f9;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 1em 0.5em;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #d6dee150;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
}

